@tailwind base;
@tailwind components;
@tailwind utilities;

/* Pretendard 웹폰트 선언 */
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* 폰트가 로딩되기 전에도 시스템 폰트로 먼저 보여주고, 로딩되면 자연스럽게 교체됨 */
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    font-family: 'Pretendard', sans-serif;
  }

  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  }
}

.box {
  margin-bottom: 24px;
  padding: 8px 12px;
  border: 1px solid #aaa;
  border-radius: 6px;
  min-width: 120px;
  text-align: center;
}

.border {
  border: 2px solid #000; /* 1px → 2px or 3px */
}
